/* ---Join us div---*/
.joinUs {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
