.partners-list {
  display: flex;

  justify-content: space-between;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 572px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    height: 336px;
    flex-wrap: wrap;
    align-content: space-between;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 214px;
    flex-wrap: wrap;
    align-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    background-color: inherit;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    background-color: $color_white;
    color: $social_text;

    transition: border-color 250ms $cubic_bezier, color 250ms $cubic_bezier;

    @media screen and (min-width: 768px) {
      width: 226px;
      height: 92px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  /* --- Section 5 icons ---*/

  &__icons {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    border-color: $brand_style;
    color: $brand_style;

    transition: border-color 250ms $cubic_bezier, color 250ms $cubic_bezier;
  }
}
