/* Section #2*/

.section-two {
  padding: 60px 0px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefit-list {
  margin-top: 0px;
  margin-bottom: 0px;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    width: 1140px;
    justify-content: space-between;
  }

  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color_black;
    text-align: start;
    margin-bottom: 10px;
  }

  &__details {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
  }

  &__item {
    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 100%;
      margin-bottom: 0px;
    }
  }
  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__item:nth-child(-n + 2) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  /* ---Section icons---*/

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $background_grey;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
}
