/*---Section 5---*/
.section-five {
  background-color: $color_white;
  padding: 94px 0px 94px 0px;

  &__title {
    width: 297px;
    margin: 0px auto 50px auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $color_black;
  }
}
