.section-one {
  background-color: $background_footer;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../image/Mobile/Section_one.jpg");

    background-size: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../image/img_hw8/hero-tablet.jpg");

    background-size: 768px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../image/img_hw8/hero-tablet.jpg");
    background-size: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color_white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      width: 700px;
    }
  }
}
