/* Section #4*/

.section-four {
  background-color: $background_grey;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  color: $color_black;
  width: 264px;
  margin: 0 auto 50px auto;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-list {
  display: flex;
  margin: 0;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    max-width: 450px;
    height: 100%;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-bottom: 30px;
    background-color: $color_white;

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 100%;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 100%;
      height: 428px;
    }
  }

  &__item:last-child {
    margin-bottom: 0px;
    @media screen and (min-width: 1200px) {
      margin-right: 0px;
    }
  }

  &__img {
    width: 450px;
    height: 100%;

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 374px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 260px;
    }
  }
}

.team-info {
  padding: 30px;

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $color_black;
    margin-bottom: 10px;
  }

  &__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    text-align: center;
    margin-bottom: 16px;
    color: $color_grey;
  }
}
