$brand_style: #2196f3;
$color_white: #ffffff;
$color_grey: #757575;
$color_black: #212121;
$background_footer: #2f303a;
$blue_button: #188ce8;
$background_grey: #f5f4fa;
$social_text: #afb1b8;
$cubic_bezier: cubic-bezier(0.4, 0, 0.2, 1);